.wl-sidebar-animate {
    transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.wl-sidebar-mobile-enter {
    transform: translateX(-100%);
    opacity: 0;
}

.wl-sidebar-mobile-enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.wl-sidebar-mobile-exit {
    transform: translateX(0);
    opacity: 1;
}

.wl-sidebar-mobile-exit-active {
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}